CompileFlags:
  Add:
  - -std=c++20
  - -Wall
  - -Wextra
  - -Wpedantic
  - -Werror
  - -Wshadow
  - -Wconversion
  - -I/Users/wlruys/workspace/simulator_jacobi/task4feedback/external/tabulate/include
  - -I/Users/wlruys/workspace/simulator_jacobi/task4feedback/external/doctest
  - -I/Users/wlruys/workspace/simulator_jacobi/task4feedback/src/backend
  - -I/Users/wlruys/workspace/simulator_jacobi/task4feedback/src/backend/include
  - -I/Users/wlruys/workspace/simulator_jacobi/task4feedback/external
  - -I/Users/wlruys/mamba/envs/simdev_311/lib/python3.11/site-packages/nanobind/include
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
    - modernize*
    - performance*
    - readability*
    - bugprone*
    Remove:
    - modernize-use-trailing-return-type
    CheckOptions:
      readability-identifier-naming.IgnoreMainLikeFunctions: true
      readability-identifier-length.MinimumVariableNameLength: '1'
      readability-identifier-length.MinimumParameterNameLength: '1'
Index:
  Background: Build
InlayHints:
  Enabled: true
  ParameterNames: false
  DeducedTypes: true
  Designators: true
Hover:
  ShowAKA: true
Completion:
  AllScopes: true
