core==1.0.1
cupy==13.3.0
gravis==0.1.0
gymnasium==1.0.0
matplotlib==3.9.2
mplcursors==0.5.3
networkx==3.3
numpy==2.1.2
nvtx==0.2.10
pandas==2.2.3
pdf2image==1.17.0
pydot==3.0.1
pyparsing==3.2.0
PyPDF2==3.0.1
pytest==8.3.3
python_json_logger==2.0.7
PyYAML==6.0.2
PyYAML==6.0.2
rich==13.9.3
sympy==1.13.2
torch==2.4.1
torch_geometric==2.6.1
torchviz==0.0.2
typing_extensions==4.12.2
z3==0.2.0
